#login_error-message {
    color: red;
}

p.error-message {
    color: red;
}

.succeed{
    color: green;
}

.header{
    font-size: 150%;
    font-weight: bold;
    text-align: center;
}

.small_header{
    font-size: 120%;
    font-weight: bolder;
}

.important_info{
    font-size: 120%;
}

p.important_info span{
    font-weight: bold;
}

div.requests{
    width: 300px;
}


form.right_side{
    overflow: hidden;
    margin-bottom: 0px;
}

.right_side input,button{
    float: right;
    clear: both;
    margin-bottom: 5px;
}

.information {
    font-size: 80%;
    color: #505050;
}

.error_page_main {
    font-size: 1.5em;
    font-weight: bold;
}

.right_top_corner {
    position: absolute;
    right: 25px;
    top: 25px;
}

#new_request{
    font-family: Arial;
}

table{
    border-collapse: collapse;
}



table.main {
    position: relative;
    min-width: 800px;
    max-width: unset;
    width: max-content;
    border: 2px solid grey;
}

table.main td,th {
    border: 1px solid grey;
}

table.menu th,td{
    text-align: center;
    border: none;
}

table.inner{
    width: 100%;
}

td{
    padding: 5px;
}

td.personal_data{
    padding-top: 10px;
    padding-left: 5px;
    vertical-align: top;
}

tr.borders td{
    border: 1px solid grey;
    padding-left: 10px;
    padding-right: 10px;
}

td.borders{
    border: 1px solid grey;
}

td.left_side{
    text-align: left;
}

td.login {
    width: 150px;
}

table.registration td {
    width: 200px;
    text-align: left;
}

table.for_form td {
    width: 200px;
    text-align: left;
}

#route_name{
    size: 200px;
    width: 250px;
}

table.available_cars_info td {
    width: 160px;
    border: none;
    text-align: left;
}


th {
    text-align: center;
    font-size: 150%;
}

table.menu button{
    margin-top: 15px;
    margin-right: 35px;
    margin-left: 35px;
    size: 3em;
    padding: 10px;
    min-width: 200px;
    font-size: 16px;
}

table.align_left{
    align-self: left;
}